.project-img {
  width: 100%;
  height: 550px;
  /* kamu bisa sesuaikan sesuai kebutuhan */
  object-fit: cover;
  /* memastikan gambar proporsional */
  border-radius: 10px;
  /* opsional biar lebih rapi */
}